@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply sticky top-0 z-50 w-full flex items-center justify-between pl-4 pr-4 transition-all lg:pl-10 lg:pr-10
  }
  body {
    @apply bg-[#141414] text-white
    /*!scrollbar !scrollbar-track-transparent !scrollbar-thumb-red-500*/
  }
}

@layer components {
  .menu-link {
    @apply cursor-pointer text-sm font-semibold font-light text-[#e5e5e5] transition duration-[.9] hover:text-[#b3b3b3]
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .banner-button {
    @apply flex items-center gap-x-2 px-5 rounded py-1.5 text-sm font-semibold transition-opacity hover:opacity-70
    md:py-2.5 md:px-8 md:text-xl
  }
  .input {
    @apply w-full bg-[#333] rounded px-5 py-3 placeholder-gray-600 outline-none focus:bg-[#454545]
  }
  .button-modal {
   @apply  !z-20 bg-[#181818]/60 border-amber-50 rounded-full transition duration-200 hover:bg-gray-700/60 px-1 py-1
  }

  .planBox {
    @apply relative mx-1.5 flex h-20 w-[calc(100%/3)] cursor-default items-center justify-center rounded-sm bg-[#e50914]
    font-semibold shadow after:absolute after:top-full after:left-1/2  after:border-8 after:-translate-x-1/2
    after:border-transparent after:border-t-[#e50914] md:h-32 lg:mx-8;
  }

  /* Table */
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }

  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }

  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }
}